<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/icon_logo_main"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/icon_logo_main_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Qlinikku"
        tools:targetApi="31">
        <activity
            android:name=".PasienTentangKlinik"
            android:theme="@style/ThemeCustomQlinikku"
            android:exported="false" />
        <activity
            android:name=".InputTentangKlinik"
            android:exported="false"
            android:theme="@style/ThemeCustomQlinikku" />
        <activity
            android:name=".RiwayatReservasiPasien"
            android:exported="false"
            android:theme="@style/ThemeCustomQlinikku" />
        <activity
            android:name=".ReservasiAktifPasien"
            android:exported="false"
            android:theme="@style/ThemeCustomQlinikku" />
        <activity
            android:name=".EditDataPasien"
            android:exported="false"
            android:theme="@style/ThemeCustomQlinikku" />
        <activity
            android:name=".ListDataPasien"
            android:exported="false"
            android:theme="@style/ThemeCustomQlinikku" />
        <activity
            android:name=".EditDataDokter"
            android:exported="false"
            android:theme="@style/ThemeCustomQlinikku" />
        <activity
            android:name=".ReservasiBerlangsung"
            android:exported="false"
            android:theme="@style/ThemeCustomQlinikku" />
        <activity
            android:name=".DetailPilihDokter"
            android:exported="false"
            android:theme="@style/ThemeCustomQlinikku" />
        <activity
            android:name=".PilihDokter"
            android:exported="false"
            android:theme="@style/ThemeCustomQlinikku" />
        <activity
            android:name=".TambahJadwalDokter"
            android:exported="false"
            android:theme="@style/ThemeMaterialRange" />
        <activity
            android:name=".ListDataDokter"
            android:exported="false"
            android:theme="@style/ThemeCustomQlinikku" />
        <activity
            android:name=".TambahDokter"
            android:exported="false"
            android:theme="@style/ThemeCustomQlinikku" />
        <activity
            android:name=".EditProfile"
            android:exported="false"
            android:theme="@style/ThemeCustomQlinikku" />
        <activity
            android:name=".AdminHome"
            android:exported="false"
            android:theme="@style/ThemeCustomQlinikku" />
        <activity
            android:name=".PasienHome"
            android:exported="false"
            android:theme="@style/ThemeCustomQlinikku" />
        <activity
            android:name=".RegisterPasien"
            android:exported="false"
            android:theme="@style/ThemeCustomQlinikku" />
        <activity
            android:name=".Login"
            android:exported="false"
            android:theme="@style/ThemeCustomQlinikku" />
        <activity
            android:name=".SplashScreen"
            android:exported="true"
            android:theme="@style/ThemeCustomQlinikku">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>